 <!-- Terminal -->
 <section class="row">
  <div class="span12">

    <h3 class="text-center">("Simple Scheme Interpreter" . "<small>
        by 
        <a href="http://www.linkedin.com/pub/nikolay-smirnov/22/ba7/5a1" target="_blank">
          Nikolay Smirnov</a>
        (CS152 Project)
      </small>")
    </h3>

    <div class="terminal">

      <div>
        <div id="output"></div>

        <div class="input-prepend">
          <span class="add-on">sjsu></span>
          <input class="span11" id="input"></input>
        </div>
      </div>

    </div>

    <ul class="nav nav-tabs" id="tabs">
      <li class="active"><a href="#info">Info</a></li>
      <li><a href="#debug">Debug</a></li>
      <li><a href="#symbol-table">Symbol table</a></li>
    </ul>
     
    <div class="tab-content">
      <div class="tab-pane fade in active" id="info">
        
        <table class="table table-bordered">
          <tr>
            <th>Procedures</th><td><code>cons</code>, <code>car</code>, <code>cdr</code>, 
              <code>list</code>, <code>quote</code>, <code>+</code>, <code>-</code>,
              <code>*</code>, <code>/</code>, <code><</code>, <code>></code>, <code>=</code>,
              <code><=</code> , <code>>=</code>, <code>or</code>, <code>and</code>
            </td>
          </tr>
          <tr>
            <th>Macros</th><td><code>def</code>, <code>if</code>, <code>lambda</code></td>
          </tr>
        </table>

        <pre class="example">
          <span class="test-run">Test run</span>
sjsu> a
<span class="text-error">ERROR: Unbound variable: a.</span>

sjsu> (def a 5)
<span class="text-success">5</span>

sjsu> (def b 6)
<span class="text-success">6</span>

sjsu> (def lte (lambda (x y) (<= x y)))
<span class="text-success">procedure lte(x y)</span>

sjsu> (lte a b)
<span class="text-success">#t</span>

sjsu> (def sum (lambda (x) (+ x x)))
<span class="text-success">procedure sum(x)</span>

sjsu> (sum a)
<span class="text-success">10</span>

sjsu> (def sqr (lambda (x) (* x x)))
<span class="text-success">procedure sqr(x)</span>

sjsu> (sqr a)
<span class="text-success">25</span>

sjsu> (def ss (lambda (x) (sum (sqr x))))
<span class="text-success">procedure ss(x)</span>

sjsu> (ss a)
<span class="text-success">50</span>

sjsu> (ss b)
<span class="text-success">72</span>

sjsu> (def fn (lambda (x) (if (lte (ss x) 100) 
      "ss(x) is less than 100" "ss(x) is greater than 100")))
<span class="text-success">procedure fn(x)</span>

sjsu> (fn a)
<span class="text-success">"ss(x) is less than 100"</span>

sjsu> (fn 10)
<span class="text-success">"ss(x) is greater than 100"</span>

sjsu> (def c (fn a))
<span class="text-success">"ss(x) is less than 100"</span>

sjsu> c
<span class="text-success">"ss(x) is less than 100"</span>

sjsu> (cons a b c)
<span class="text-error">ERROR: Wrong number of arguments to procedure cons.</span>

sjsu> (cons a c)
<span class="text-success">(5 . "ss(x) is less than 100")</span>

sjsu></pre>
        
      </div>

      <div class="tab-pane fade" id="debug">
        <div class="row">
          <div class="span6">
            <p class="muted">Result of <code>parse()</code> function</p>
            <pre id="parse"></pre>
          </div>
          <div class="span6">
            <p class="muted">Result of <code>eval()</code> function</p>
            <pre id="eval"></pre>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="symbol-table">
        <p class="muted">Result of <code>addVariable()</code> function</p>
        <pre id="vars"></pre>
      </div>
      
    </div>

  </div>
 </section>