@import "bootstrap";
@import "bootstrap-responsive";

#terminal-container {
	background-color: white;

	.terminal {
	z-index: -1;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 2px solid rgba(255, 255, 255, 0.55);
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	color:	white;
	margin:15px 0px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;

	.header {
		background: rgba(255,255,255, 0.3);
		margin: -10px -10px 10px -10px;
		padding-right: 5px;
		height: 20px;
	}

	.body {
		height: 300px;
		overflow: auto;
		
		.add-on {
			border: none;
			background: none;
			text-shadow: none;
			padding-left: 0;
			padding-top: 0;
			margin-right: 0;
			font-family: inherit;
		}

		#input {
			margin-left: -2px;
			color: white;
			background: inherit;
			resize: none;
			border:none;
			box-shadow: none;
			padding-top: 0;
			font-family: inherit;
			&:focus {
				outline: none;
			}
		}

		#output {
			.prompt {
				margin-left: 4px;
			}
			.continue {
				margin-left: 20px;
			}
			.text-error {
				color: rgb(253, 90, 90);
			}
			.text-success {
				color: rgb(115, 199, 115);
			}
		}
	}
}
}

.popout {
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 20px;
}

.tab-content {
	pre {
		min-height: 350px;
		overflow: auto;
	}

	.example {
		position: relative;

		.test-run {
			-moz-border-radius-bottomleft: 4px;
			border-bottom-left-radius: 4px;
			position: absolute;
			top: 0;
			right: 0;
			background: rgba(0, 136, 204, 0.7);
			color: white;
			font-size: 15px;
			padding: 5px;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
		
	}
}

@media (max-width: 767px) {
	body {
		padding-left: 5px;
		padding-right: 5px;	
	}
}
